// max-widths
$mobile-width: 37.5rem;
$desktop-width: 144rem;

// colors
$color-black: #000;

$color-red-light: hsl(356, 100%, 66%);
$color-red-light-2: hsl(355, 100%, 74%);
$color-dark-blue: hsl(208, 49%, 24%);

$color-white: hsl(0, 0%, 100%);
$color-grey-blue: hsl(240, 2%, 79%);
$color-dark-grey-blue: hsl(207, 13%, 34%);
$color-dark-black-blue: hsl(240, 10%, 16%);

// fonts
$default-font-size: 1.6rem;
$ubuntu-font: 'Ubuntu', sans-serif;
$overpass-font: 'Overpass', sans-serif;

$border-radius: 3px;